@{
    ViewData["Title"] = "Home Page";
}
@using DojoSurvey.Models
@model Survey
<h1 style="padding-left: 65px;">SURVEY RESULT</h1>
<fieldset style="width: 360px;">
    <p>Name: @Model.Name</p>
    <p>Location: @Model.Location</p>
    <p>Fav Language: @Model.Language</p>
    <p>Comment: @Model.Comment</p>
</fieldset>
